.vs/
/ReactWithASP.Server/bin/Debug/net8.0/ReactWithASP.Server.dll
/ReactWithASP.Server/bin/Debug/net8.0/ReactWithASP.Server.exe
/ReactWithASP.Server/bin/Debug/net8.0/ReactWithASP.Server.pdb
/ReactWithASP.Server/obj/Debug/net8.0/ref/ReactWithASP.Server.dll
/ReactWithASP.Server/obj/Debug/net8.0/refint/ReactWithASP.Server.dll
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.AssemblyInfo.cs
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.AssemblyInfoInputs.cache
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.dll
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.pdb
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.sourcelink.json
/ReactWithASP.Server/obj/Debug/net8.0/apphost.exe
/ReactWithASP.Server/obj/Container/AbsoluteOutputAssemblyPath.cache
/ReactWithASP.Server/obj/Container/AdditionalProbingPaths.cache
/ReactWithASP.Server/obj/Container/ContainerCreationResult.cache
/ReactWithASP.Server/obj/Container/ContainerDevelopmentMode.cache
/ReactWithASP.Server/obj/Container/ContainerId.cache
/ReactWithASP.Server/obj/Container/ContainerName.cache
/ReactWithASP.Server/obj/Container/ContainerOperatingSystemFlavor.cache
/ReactWithASP.Server/obj/Container/ContainerRunContext.cache
/ReactWithASP.Server/obj/Container/DebuggeeArguments.cache
/ReactWithASP.Server/obj/Container/DebuggeeKillProcessCommand.cache
/ReactWithASP.Server/obj/Container/DebuggeeProgram.cache
/ReactWithASP.Server/obj/Container/DebuggeeWorkingDirectory.cache
/ReactWithASP.Server/obj/Container/FastModeProjectMountDirectory.cache
/ReactWithASP.Server/obj/Container/ImageBuildContext.cache
/ReactWithASP.Server/obj/Container/ImageId.cache
/ReactWithASP.Server/obj/Container/OperatingSystemName.cache
/ReactWithASP.Server/obj/Container/TargetFramework.cache
/ReactWithASP.Server/obj/Container/VolumeMappings.cache
/ReactWithASP.Server/obj/Container/VsDbgScript.cache
/ReactWithASP.Server/obj/Debug/net8.0/ReactWit.193B6FCA.Up2Date
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.csproj.CoreCompileInputs.cache
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.csproj.FileListAbsolute.txt
/reactwithasp.client/.eslintrc.cjs
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.assets.cache
/ReactWithASP.Server/obj/Debug/net8.0/ReactWithASP.Server.csproj.AssemblyReference.cache
